# 4 Предобработка данных: пропуски, некорректные данные и дубликаты

4.1

In [2]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GOLDA    124 non-null    object
 1   Silver   121 non-null    object
 2   platinu  124 non-null    object
 3   Palla    120 non-null    object
 4   Date     128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

4.2

In [3]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
#print(df)

new = ['gold', 'silver', 'platinum', 'palladium', 'date']
DF = df.set_axis(new, axis = 'columns', inplace = True)
print(DF)

DF1 = df.rename(columns ={'GOLDA':'gold', 'Silver':'silver', 'platinu':'platinum', 'Palla':'palladium', 'Date':'date'})
print(DF1)

None
        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]

C:\Users\zhabs\AppData\Local\Temp\ipykernel_14944\155469080.py:7: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  DF = df.set_axis(new, axis = 'columns', inplace = True)

4.3

In [4]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
#print(df)

#new = ['gold', 'silver', 'platinum', 'palladium', 'date']
#DF = df.set_axis(new, axis = 'columns', inplace = True)
#print(DF)

DF1 = df.rename(columns ={'GOLDA':'gold', 'Silver':'silver', 'platinu':'platinum', 'Palla':'palladium', 'Date':'date'})
print(DF1)

DF2 = DF1.isnull().sum()
print(DF2)

DF3 = DF1.fillna(0)
print(DF3)

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]
gold         4
silver       7
platinum     4
palladium    8
date         0
dtype: int64
        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85         0  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21      0  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]

4.4

In [5]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
#print(df)

#new = ['gold', 'silver', 'platinum', 'palladium', 'date']
#DF = df.set_axis(new, axis = 'columns', inplace = True)
#print(DF)

DF1 = df.rename(columns ={'GOLDA':'gold', 'Silver':'silver', 'platinu':'platinum', 'Palla':'palladium', 'Date':'date'})
print(DF1)

def replace_symbol(x):
    x = str(x)
    x = float(x.replace(',','.'))
    return x
DF1['gold'] = DF1['gold'].apply(replace_symbol)
DF1['silver'] = DF1['silver'].apply(replace_symbol)
DF1['platinum'] = DF1['platinum'].apply(replace_symbol)
DF1['palladium'] = DF1['palladium'].apply(replace_symbol)

print(DF1)

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]
        gold  silver  platinum  palladium             date
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00
4    4673.64   60.85   2189.85        NaN  27.10.2020 0:00
..       ...     ...       ...        ...              ...
123  4047.21     NaN   1800.29    4298.85  09.05.2020 0:00
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00

[128 rows x 5 columns]

4.5

In [15]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
#print(df)

#new = ['gold', 'silver', 'platinum', 'palladium', 'date']
#DF = df.set_axis(new, axis = 'columns', inplace = True)
#print(DF)

DF1 = df.rename(columns ={'GOLDA':'gold', 'Silver':'silver', 'platinu':'platinum', 'Palla':'palladium', 'Date':'date'})
print(DF1)

DF1 = DF1.fillna(0)

def replace_symbol(x):
    x = str(x)
    x = float(x.replace(',','.'))
    return x
DF1['gold'] = DF1['gold'].apply(replace_symbol)
DF1['silver'] = DF1['silver'].apply(replace_symbol)
DF1['platinum'] = DF1['platinum'].apply(replace_symbol)
DF1['palladium'] = DF1['palladium'].apply(replace_symbol)

print(DF1)

gold_mean = DF1['gold'].mean()
print('gold_mean', gold_mean)
silver_mean = DF1['silver'].mean()
print('silver_mean', silver_mean)
platinum_mean = DF1['platinum'].mean()
print('platinum_mean', platinum_mean)
palladium_mean = DF1['palladium'].mean()
print('palladium_mean', palladium_mean)

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]
        gold  silver  platinum  palladium             date
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00
4    4673.64   60.85   2189.85       0.00  27.10.2020 0:00
..       ...     ...       ...        ...              ...
123  4047.21    0.00   1800.29    4298.85  09.05.2020 0:00
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00

[128 rows x 5 columns]
gold_mean 4234.95359375
silver_mean 49.593203125
platinum_mean 1988.522578125
palladium_mean 4679.6908593749995

4.6

In [17]:
import pandas as pd

df = pd.read_csv('precious_metal.csv', sep=';')
#print(df)

#new = ['gold', 'silver', 'platinum', 'palladium', 'date']
#DF = df.set_axis(new, axis = 'columns', inplace = True)
#print(DF)

DF1 = df.rename(columns ={'GOLDA':'gold', 'Silver':'silver', 'platinu':'platinum', 'Palla':'palladium', 'Date':'date'})
print(DF1)

DF1 = DF1.fillna(0)
def replace_symbol(x):
    x = str(x)
    x = float(x.replace(',','.'))
    return x
DF1['gold'] = DF1['gold'].apply(replace_symbol)
DF1['silver'] = DF1['silver'].apply(replace_symbol)
DF1['platinum'] = DF1['platinum'].apply(replace_symbol)
DF1['palladium'] = DF1['palladium'].apply(replace_symbol)

print(DF1)

DF1['gold_usd'] = round(DF1['gold']/71.27, 2)
DF1['silver_usd'] = round(DF1['silver']/71.27, 2)
DF1['platinum_usd'] = round(DF1['platinum']/71.27, 2)
DF1['palladium_usd'] = round(DF1['palladium']/71.27, 2)
print(DF1)
DF1.pop('date')

DF1.to_csv('precious_metal_new.csv')

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]
        gold  silver  platinum  palladium             date
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00
4    4673.64   60.85   2189.85       0.00  27.10.2020 0:00
..       ...     ...       ...        ...              ...
123  4047.21    0.00   1800.29    4298.85  09.05.2020 0:00
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00

[128 rows x 5 columns]
        gold  silver  platinum  palladium             date  gold_usd  \
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00     67.13
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00     66.78
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00     66.36
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00     65.49
4    4673.64   60.85   2189.85       0.00  27.10.2020 0:00     65.58
..       ...     ...       ...        ...              ...       ...
123  4047.21    0.00   1800.29    4298.85  09.05.2020 0:00     56.79
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00     56.46
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00     56.69
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00     56.32
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00     56.71

     silver_usd  platinum_usd  palladium_usd
0          0.82         30.63          79.66
1          0.85         30.81          79.45
2          0.85         30.58          81.55
3          0.84         30.11          81.57
4          0.85         30.73           0.00
..          ...           ...            ...
123        0.00         25.26          60.32
124        0.50         25.18          60.68
125        0.50         25.19          59.23
126        0.50         25.52          65.32
127        0.50         25.93          65.09

[128 rows x 9 columns]